html{
  scroll-snap-type: y mandatory;
}
.app-logo{
  height:12vh;
  border-radius: 100px;

}
.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}
.app-top{
  margin-bottom: -40px;
}
.app-top>h1 {
  text-align: center;
  color: white;
}
.app-videos{
  position: relative;
  height: 65vh;
  background-color: white;
  width: 70%;
  border-radius: 20px;
  max-width: 450px;
  max-height: 1200px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
.app-videos::-webkit-scrollbar {
  display: none;
}
.app-videos{
  -ms-overflow-style: none /* For Internet Explorer and older Edge */ ;
  scrollbar-width: none;
}